<template>
    <div class="dashboard-category-item">
        <i class="category-icon-box">
            <img :src="categoryImgPath" :alt="categoryName"/>
        </i>
        <div class="input-box">
            <p class="category-number">No{{ id }}</p>
            <i class="category-input-box">
                <el-input placeholder=categoryName v-model="input"></el-input>
            </i>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            input:'',
        };
    },
    props: {
        categoryImgPath: {
            type: String,
            required: true
        },
        id:{
            type: Number,
            required: true
        },
        categoryName:{
            type: String,
            required: true
        }
    },

}

</script>

