<template>
    <div class="wone-main-container">
        <section class="board-out-box">
            <div class="board-title">
                <p class="board-title-text">이용방법</p>
                <el-input class="board-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="input2">
                </el-input>
            </div>
            <div class="board-inner-box">
                <div class="board-ask-table">
                    <el-table
                        :data="guideData"
                        style="width: 100%"
                        @row-click="moveDetail"
                        >
                        <el-table-column
                            type="selection"
                            width="55">
                        </el-table-column>
                        <el-table-column
                            property="id"
                            label="No."
                            width="60">
                        </el-table-column>
                        <el-table-column
                            property="boardTitle"
                            label="제목"
                            width="120">
                        </el-table-column>
                        <el-table-column
                            property="boardContent"
                            label="안내">
                        </el-table-column>
                    </el-table>
                </div>
                <div class="pagination">
                    <el-pagination class="notice-page-number"
                                   small
                                   layout="prev, pager, next"
                                   :total="50">
                    </el-pagination>
                    <div class="board-button">
                        <el-button class="board-update-button" @click="drop"><i class="board-update-button-text">삭제</i></el-button>
                        <el-button class="board-update-button" @click="update"><i class="board-update-button-text">수정</i></el-button>
                        <el-button class="board-ok-button" @click="create"><i class="board-ok-text">등록</i></el-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            guideData: [],
        }
    },
    methods: {
        getGuideList () {
            this.$store.dispatch(this.$boardConstants.DO_GUIDE_LIST)
                .then((res) => {
                    this.guideData = res.data.list
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                })
        },
        create() {
            this.$confirm('새 글을 등록하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.push('board-guide-register');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        update() {
            this.$confirm('해당 글을 수정하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: '수정되었습니다.'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        drop() {
            this.$confirm('해당 글을 삭제하시겠습니까?', 'Warning', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: 'Delete completed'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled'
                });
            });
        },
    },
    created() {
        this.getGuideList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_GUIDE')
    }
}
</script>
