<template>
    <div class="wone-main-container">
        <section class="board-contents-register">
            <div class="board-contents-register-title">이용방법</div>
            <div class="board-title">제목</div>
            <el-input class="contents-input-box"
                      type="text"
                      :rows="1"
                      placeholder="제목을 입력해주세요."
                      v-model="textTitle"
                      maxlength="40"
                      show-word-limit
            >
            </el-input>
            <div class="board-title">안내</div>
            <el-input class="contents-input-box"
                      type="textarea"
                      :rows="17"
                      placeholder=""
                      v-model="textarea2">
            </el-input>
            <div class="board-contents-register-button">
                <el-button class="board-contents-register-update-button" @click="update"><i class="board-contents-register-update-button-text">수정</i></el-button>
                <el-button class="board-contents-register-button" @click="create"><i class="board-contents-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{
            textTitle:'',
            textarea2:''
        }
    },
    methods: {
        // 저장으로 통일 필요
        create() {
            this.$confirm('등록하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.replace('board-guide');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        update() {
            this.$confirm('해당 내용으로 수정하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.replace('board-guide');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD')
    }
}
</script>
