<template>
    <div class="wone-main-container">
        <section class="ask-contents">
            <div class="board-ask-title">문의사항</div>
            <div class="ask-line"></div>
            <el-row>
                <el-col :span="12">
                    <p class="ask-user">글쓴이 : 홍길동</p>
                </el-col>
                <el-col :span="12">
                    <p class="ask-time">2024-01-05</p>
                </el-col>
            </el-row>
            <el-input class="ask-input-box"
                type="textarea"
                :rows="17"
                placeholder="고객 문의사항 여기 들어감"
                v-model="textarea">
            </el-input>
        </section>
        <section class="answer-contents">
            <div class="board-answer-title">답변</div>
            <el-input class="answer-input-box"
                      type="textarea"
                      :rows="5"
                      placeholder=""
                      v-model="textarea">
            </el-input>
            <div class="answer-button">
                <el-button  class="answer-update-button" @click="update"><i class="answer-update-button-text">수정</i></el-button>
                <el-button class="answer-register-button" @click="create"><i class="answer-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
import {del} from "vue";

export default {
    data() {
        return {
            textarea: ''
        }
    },
    methods: {
        update() {
            this.$confirm('해당 글을 수정하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.replace('board-ask');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
        create() {
            this.$confirm('등록하시겠습니까?', {
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.replace('board-ask');
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '취소되었습니다.'
                });
            });
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD')
    }
}
</script>
