<template>
    <div class="wone-main-container">
        <section class="service-user-list-out-box">
            <div class="service-user-list-title">
                <p class="service-user-list">회원 ID : {{detailInfo.id}}</p>
            </div>
            <div class="service-user-list-inner-box">
                <div class="user-icon">
                    <i class="el-icon-user-solid"></i>
                </div>
                <div class="user-info-detail" :data="detailInfo">
                    <el-row>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">회원 ID</p>
                            <i class="light-text" property="id">{{detailInfo.id}}</i>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">가입날짜</p>
                            <i class="light-text" property="joinDate">{{detailInfo.joinDate}}</i>
                        </div></el-col>
                    </el-row>
                    <div class="line"></div>
                    <el-row>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">이름</p>
                            <i class="light-text" property="username">{{detailInfo.username}}</i>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">생년월일</p>
                            <i class="light-text" property="birthDate">{{detailInfo.birthDate}}</i>
                        </div></el-col>
                    </el-row>
                    <div class="line"></div>
                    <el-row>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">아이디</p>
                            <i class="light-text" property="userId">{{detailInfo.userId}}</i>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">비밀번호</p>
                            <i class="light-text" property="password">{{detailInfo.password}}</i>
                        </div></el-col>
                    </el-row>
                    <div class="line"></div>
                    <el-row>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">역할</p>
                            <i class="light-text" property="memberGroup">{{detailInfo.memberGroup}}</i>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">회원상태</p>
                            <i class="light-text" property="memberStatus">{{detailInfo.memberStatus}}</i>
                        </div></el-col>
                    </el-row>
                </div>
            </div>
        </section>
        <section class="service-user-list-out-box">
            <div class="service-user-list-title">
                <p class="service-user-list">카드정보</p>
            </div>
            <div class="service-user-list-inner-box">
                <div class="user-list-table">
                    <el-table
                        :data="cardInfo"
                        style="width: 100%"
                    >
                        <el-table-column
                            prop="cardGroup"
                            label="카드사"
                            width="200">
                        </el-table-column>
                        <el-table-column
                            prop="cardNumber"
                            label="카드번호"
                            width="250">
                        </el-table-column>
                        <el-table-column
                            prop="endDate"
                            label="유효기간">
                        </el-table-column>
                        <el-table-column
                            prop="cvc"
                            label="cvc">
                        </el-table-column>
                        <el-table-column
                            prop="etcMemo"
                            label="기타">
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </section>

        <div class="user-info-detail-button">
            <el-button class="user-info-detail-ok-button" @click.native="commit">
                <i class="user-info-detail-ok-text" >확인</i></el-button>
        </div>
    </div>
</template>

<script>

export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            detailInfo: [],
            cardInfo: [],
        }
        // this.$store.dispatch(this.$memberConstants.DO_MEMBER, payload)
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_USER_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data

                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)

                })
        },
        async getCards() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$cardConstants.DO_CARD_LIST, {memberId: this.id})
                .then((res) => {
                    this.cardInfo = res.data.list
                    console.log(res.data.list)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                })
        },
        commit() {
            this.$router.push(`/user-list`)
        },
    },
    created() {
        this.getDetail()
        this.getCards()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'USER_LIST')
    }
}
</script>
